*{
    margin: 0;
    padding: 0;
}
.son{
    font-size: 10px;
    text-decoration: underline;
}
.mon{
    font-size: 10px;
}
.dad{
    font-size: 15px;
    padding: 10px;
}
.mom{
    font-size: 15px;
    padding: 10px;
}
.one{
    height: 25%;
    width: 25%;
    object-fit: cover;
}
.pics{
    height:200px;
    width: 200px;
    border-radius: 100%;
    object-fit: fill;
}
.fashion{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit:fill;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex; .promo-banner {
        background-color: #f9e7a8;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .promo-banner .content {
        max-width: 500px;
    }

    .promo-banner .content h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }
    .promo-banner {
        background-color: #f9e7a8;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .promo-banner .content {
        max-width: 500px;
    }

    .promo-banner .content h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

    .promo-banner .content p {
        margin: 10px 0;
        color: #666;
    }

    .promo-banner .content .code {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #fff;
        border: 1px dashed #333;
        display: inline-block;
        font-size: 16px;
        color: #333;
    }

    .promo-banner .qr-code img {
        width: 100px;
        height: 100px;
    }

    .promo-banner .app-links img {
        width: 135px;
        margin: 5px;
    }
    
    .promo-banner .logo img {
        width: 150px;
    }
    .promo-banner .content p {
        margin: 10px 0;
        color: #666;
    }

    .promo-banner .content .code {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #fff;
        border: 1px dashed #333;
        display: inline-block;
        font-size: 16px;
        color: #333;
    }

    .promo-banner .qr-code img {
        width: 100px;
        height: 100px;
    }

    .promo-banner .app-links img {
        width: 135px;
        margin: 5px;
    }
    
    .promo-banner .logo img {
        width: 150px;
    }
 
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .left a {
    padding: 0 10px;
}

.navbar .right a {
    padding: 0 10px;
}

.navbar .left .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .left .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .left .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .left .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar .left .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .right a.icon {
    font-size: 18px;
}
.delivery{
    text-decoration: underline;
}
.to{
    font-size: 15px;
    padding-top: 1px;
}
.two{
    margin-right: 10px;
}
.nav-link{
    color: black;
}
a{
    color: black;
}
.search-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    max-width: 300px;
}
.search-container input[type="text"]{
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 16px;
}
.search-contaner .icon{
    font-size: 15px;
    margin-right: 10px;

}
.search-container input::placeholder{
    color:#999
}
.parent{
     margin-top: 2px;
}
.father{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
     border: none;
}
.another{
    height: 200px;
    width: 100%;
    background-color: rgb(245, 185, 95);
    margin-top: 30px;
}
h6{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
h5{
    font-size: 10px;
    text-align: center;
}
.qwert{
    width: 100%;
    margin-top: 30px;
    
}

.card{
    width: 400px;
    padding:10px;
}
.cot{
   height:400px ;
   width: 400px;
   margin: 20px;
}
.phone{
    height:400px ;
   width: 400px;
   margin-left: 300px;

}
.scroll-container{
    background-color: white; 
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 40px;

}
.scroll-container img{
    width: 30%;
    height: 80vh;
    padding: 10px;
    object-fit: cover;
}

.promo-banner {
    background-color: #f9e7a8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.promo-banner .content {
    max-width: 500px;
}

.promo-banner .content h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.promo-banner .content p {
    margin: 10px 0;
    color: #666;
}

.promo-banner .content .code {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px dashed #333;
    display: inline-block;
    font-size: 16px;
    color: #333;
}

.promo-banner .qr-code img {
    width: 100px;
    height: 100px;
}

.promo-banner .app-links img {
    width: 135px;
    margin: 5px;
}

.promo-banner .logo img {
    width: 150px;
}
.mern{
    height: 600px;
    width: 600px;
    margin-left: 60px;
    margin-top: 50px;
    display: flex;
    position: relative;
}
.mern1{
    height: 600px;
    width: 100%;
    object-fit: cover;
    display: flex;
}
.mern2{
    display: flex;
    width: 500px;
    height: 100%;
    margin-left: 400px;
}
.mern3{
    position: absolute;
    width: 800px;
    height: 250px;
    background-color: #f9e7a8;
    border-radius: 10px;
    left: 550px;
    top: 30%;
    text-align: center;
}
.some{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
    
}
.child{
    width: 300px;
    margin:20px;
    background-color: #fff;

}
.blue{
   height: 80vh;
   width: 100%; 
   background-color: rgb(63, 63, 146);
}
.red{
    box-flex-group: rgb(32, 32, 141);
    margin-top: 50px;
}
.pop{
    margin-top: 3%;
    margin-left: 38%;
}
.pop a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.head{
    color: rgb(248, 248, 49);
    text-align: center;
    padding-top: 30px;.mern3{
        position: absolute;
        width: 800px;
        height: 250px;
        background-color: #f9e7a8;
        border-radius: 10px;
        left: 550px;
        top: 30%;
        text-align: center;
    }
}
.yellow{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 40px;
}
.yellow img{
    width: 20%;
    height: 50vh;
    padding: 10px;
    object-fit: cover;
}
.snake{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 40px;
    object-fit: cover;
}
.snake img{
    width: 40%;
    height: 60vh;
    padding: 10px;
    object-fit: cover;
}
.fog{
    background-color: rgb(16, 16, 43);
    height: 80vh;
    width: 100vw;
    margin-top: 55px;
    border-color: 10%;
}
.green{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-top: 50px;
    
}
.aljo{
    width: 100%;
    
    
}
.yadhav{
    color: #fff;
    padding-left: 120px;
    
    
}
.evin{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
.asd a{
    color: #fff;
    text-align: center;
    padding-left: 350px;
    
}
.div{
    position: relative;
}
.div img{
    
    width: 100%;
    margin-top: 20px;
    position: absolute;
    
}
.more{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
    position: absolute;

    
}
.qwe{
        position: absolute;
        width: 500px;
        height: 350px;
        background-color: #ffe600;
        border-radius: 10px;
        left: 1200px;
        top: 150px;
        text-align: center;

        
    }
    .mern11 img{
        width: 100vw;
        max-height: 40vh;
        margin-top: 30px;
        position: relative;
    }
    .mern17{
        position: absolute;
        top:4980px;
        right: 10%;
        background-color: yellow;
        width: 550px;
        height: 220px;
        border-radius: 10px;
    }
    .mern18{
        margin-top: 30px;
        margin-left: 100px;
        color:rgb(28, 28, 43);
    }
    .mern19{
        margin-top: 10px;
        margin-left: 50px;
        color:rgb(28, 28, 43);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .mern20{
        margin-left: 50px;
        color:rgb(28, 28, 43);
    }
    .mern21{
        margin-left: 51px;
    }
    .mern22{
        background-color:rgb(16, 16, 78);
        color: yellow;
        width: 30%;
        border-radius: 5px;
        margin-left: 150px;
        border: none;
    }
    .mern23{
        background-color: rgb(6, 6, 70);
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        
    
    }
    .mern24{
    margin-left:20px;
    }
    .mern25{
        margin-left: 460px;
        margin-top: 10px;
        
    }
    .mern26{
        color: white;
    }
    .mern26 span{
        color: yellow;
    }
    .mern27{
        color: white;
    }
    .mern28{
        border: none;
        background-color: yellow;
        color:rgb(6, 6, 70) ;
        height: 40px;
        width: 210px;
        margin-top: 20px;
        margin-left: 80px;
        border-radius: 5px;
    }
    .mern29{
        margin-top: 40px;
        background-color: yellow;
        display: flex;
        flex-direction: row;
        min-height 100vh;
    }
    .mern31{
        height: 200px;
        margin-left: 300px;
    }
    .mern32{
        margin-left: 40px;
        margin-top: 70px;
        color:rgb(6, 6, 70) ;
    }
    .mern33{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin-left: 100px;
    }
    .mern34{
        font-size: 30px;
    }
    .mern35{
        margin-top: 85px;
        margin-left: 40px;
    
    }
    .mern36{
        width: 400px;
        background-color: yellow;
        border: 1px solid black;
        border-radius: 5px;
        height: 50px;
    }
    .mern37{
        margin-top: 120px;
        margin-left: 30px;
    }
    .mern37 a{
        color:rgb(6, 6, 70) ;
    }
    .mern38{
        margin-top: 40px;
        margin-left:500px;
    }
    .mern39{
        background-color: rgb(6, 6, 70) ;
        color: white;
        border: none;
        width: 500px;
        height: 60px;
        padding-top: 10px;
        border-radius: 5px;
        margin-left: 200px;
    }
    .mern40{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-left: 100px;
    }
    .mern41{
        margin-left: 300px;
    }
    .mern43{
        margin-top: -20px;
        margin-left: 10px;
        color: black;
        font-size: 12px;
    }
    .mern44{
        margin-left: 350px;
    }
    .mern45{
        margin-left: 25px;
    }
    .mern46{
        margin-top: -20px;
        margin-left: 1px;
        color: black;
        font-size: 12px;
    }
    .mern47{
        margin-left: 350px;
    }
    .mern48{
        margin-left: 55px;
    }
    .mern49{
        margin-top: -20px;
        margin-left: 1px;
        color: black;
        font-size: 12px;
    }
    .line{
        border-top:1px solid black;
        border-bottom: 1px solid black;
        width: 100%;
        height: 250px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 60px;
    }
    .hl{
        width: 100px;
        height: ;
    }
    .community{
        margin-left: 300px;
    }
    .about{
        margin-left: 150px;
    }
    .need{
        margin-left: 100px;
    }
    .a16{
        margin-top: 15px;
    
    }
    .bla{
        padding: 35px;
    }
    .b1{
        margin-top: 15px;
    }
    .last{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .l{
        margin-left: 20px;
    }
    .photo9{
        width: 100%;
    }
    .DDD{
        text-align: center;
    }
   
    
